* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.bg1 {
    width: 100%;
    height: 100%;
    background-image: url(https://media.istockphoto.com/id/493790968/photo/beautiful-young-sporty-sexy-couple-workout-in-gym.jpg?s=2048x2048&w=is&k=20&c=2jnSpiPwkaYL8BjA9cjkxvccrJpgeZfEK8rhQb_VrEw=);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
}
#fb:hover {
    background-color: blue;
}
#utube:hover {
    background-color: blue;
}
#insta:hover {
    background-color: blue;
}
#x:hover {
    background-color: blue;
}


.fb {
    color: white;
    padding-left: 15px;
}
#fb {
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
}

.utube {
    color: white;
    padding-left: 15px;
}
#utube {
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
}

.insta {
    color: white;
    padding-left: 15px;
}
#insta {
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
}

.x{
    color: white;
    padding-left: 15px;
}
#x {
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
}

.lastbox{
    background-color: #000;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 58%;
    
}

#logo {
    width: 21%;
    height: 21%;
   position: absolute;
   top: 15%;
   left: 40%;
}
#syw {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 40%;
    left: 37%;
    font-size: 40px;
}

.btn1 {
    width: 10%;
    height: 3%;
    position: absolute;
    top: 68%;
    left: 38%;
}
.btn2 {
    width: 10%;
    height: 3%;
    position: absolute;
    top: 68%;
    left: 53%;
}

/*  */

.bg2 {
    background-color: #204099;
    height: 120%;
    width: 100%;
    background-size: cover;
}

.page2 {
    display: flex;
    align-items: center;
}

#phones2 {
    margin-top: 6%;
    margin-left: 5%;
    height:98%;
    width: 70%;
    
}
@keyframes upAndDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
.up-down {
    animation: upAndDown 2s ease-in-out infinite;
  }

.content {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 3%;
}
h1{
    font-size: 48px;
    margin-left: -20px;
}
li{
    font-size: 1.5rem;
    line-height: 2rem;
    font-size: 24px;
    font-size: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

.page2btn {
    display: flex;
    gap: 25px;
    margin-top: 20%;
    margin-left: 3%;
    
}
#btn3 {
    width: 180px;
    height: 60px;
}
#btn4 {
    width: 180px;
    height: 60px;
}

/*  */

.bg3 {
    background-color: white;
    height: 157%;
    width: 100%;
    background-size: cover;
}
.page3 {
    display: flex;
    gap: 5%;
    
}
#hphone {
    height: 102%;
    width: 98%;
}
h1 {
    color: black;
    margin-bottom: 5%;
    font-size: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hiw {
    margin-left: 6%;
    margin-top: 17%;
}
#list {
    line-height: 2.5rem;
    font-size: 1.5rem;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    color: black;
    font-weight: 700;
}
.button {
    margin-top: 8%;
    /* margin-right: -50px; */
    padding-left: 30%;
}

#button:hover{
    text-decoration: black;
}
#button {
    text-decoration: none;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    border-radius: 25px;
    border: #204099;
    width: 70%;
    height: 6%;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: white;
    background-color: #204099;
    font-weight: 700;
}

/*  */

.bg4 {
    background-size: cover;
    width: 100%;
    height: 102.5%;
    background-image: url(https://musclewikiapp.com/img/dots.png);
}

.page4 {
    display: flex;
    align-items: center;
}

.motphone {
    padding-right: 0;
}
#motphone {
    background-size: cover;
    width: 750px;
    height: 100vh;
}

.aboutmw {
    margin-left: 5%;
    }
#head1 {
    color: white;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    margin-left: 3px;
    margin-bottom: 30px;
}
p {
    line-height: 2.5rem;
    font-size: 1.5rem;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}

#button1 {
    border: #204099;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    width: 30%;
    height: 18%;
    background-color: #204099;
    border-radius: 30px;
}
.button1 {
    margin-left: 40%;
    margin-top: 8%;
    
}

/*  */

.bg5 {
    background-color: white;
    height: 100%;
    width: 100%;
    background-size: cover;
}
.page5 {
    display: flex;
    gap: 200px;
    align-items: center;
}
.premium {
    margin-left: 200px;
}
#head2 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    line-height: 2;
    font-weight: 700;
    margin-left: -20px;
    margin-bottom: 30px;
}
.phn {
    margin-top: 50px;
}
@keyframes upAndDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
.phn {
    animation: upAndDown 2s ease-in-out infinite;
  }

#button2 {
    text-decoration: none;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    border-radius: 25px;
    border: #204099;
    width: 50%;
    height: 20%;
    padding: 10px;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: white;
    background-color: #204099;
    font-weight: 700;
    margin-top: 50px;
}

/*  */

.bg6 {
    background-color: #204099;
    height: 100%;
    width: 100%;
    background-size: cover;
}

#head3 {
    color: white;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    line-height: 2;
    font-weight: 700;
    margin-left: 22%;
    margin-top: 10%;
    margin-bottom: 1px;
}
#para {
    margin-left: 37%;
}

.rows {
    margin-top: 70px;
    margin-left: 290px;
    display: flex;
    gap: 15px;
}

.w {
    position: relative;
    width: 180px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
}
h6 {
    color: blue;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 100px;
}
#w {
   position: absolute;
   top: 20%;
   left: 38%;
}
#w1 {
    position: absolute;
    top: 25%;
    left: 30%; 
}


.rows1 {
    margin-top: 15px;
    margin-left: 290px;
    display: flex;
    gap: 15px;
}
.ww {
    position: relative;
    width: 180px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
}

#ww {
    position: absolute;
   top: 20%;
   left: 38%;
}
#ww1 {
   position: absolute;
   top: 20%;
   left: 32%; 
}
#ww2 {
    position: absolute;
    top: 10%;
    left: 30%; 
 }

 .rows2 {
    margin-top: 15px;
    margin-left: 290px;
    display: flex;
    gap: 15px;
}
.www {
    position: relative;
    width: 180px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
}
#www {
    position: absolute;
   top: 20%;
   left: 38%;
}
#www1 {
    position: absolute;
    top: 20%;
    left: 30%; 
 }
 #www2 {
    position: absolute;
    top: 15%;
    left: 31%; 
 }

 /*  */

 .bg7 {
    background-color: #BBF61E;
    height: 100%;
    width: 100%;
    background-size: cover;
 }
 #fit {
    color: white;
 }
 .fit {
   padding-top: 3%;
    margin-left: 30%;
 }
 .page7 {
    display: flex;
    gap: 20px;
 }

 .box1 {
    margin-left: 200px;
    width: 350px;
    height: 550px;
    background-color: black;
    border-radius: 40px;
 }
 .box2 {
    width: 350px;
    height: 550px;
    background-color:white;
    border-radius: 40px;
 }
 .box3 {
    width: 350px;
    height: 550px;
    background-color: #204099;
    border-radius: 40px;
 }

 #bhead1 {
    margin-top: 20px;
    margin-left: 45px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
 }
 #bpara1 {
    color: #204099;
    font-size: 18px;
    margin-left: 70px;
    margin-top: -15px;
 }
 #bhead2 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    margin-left: 105px;
    margin-top: -10px;
 }
#bpara2 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-left: 120px;
    margin-top: -10px;
}
.trial {

}
#trial {
    border: #204099;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #204099;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    width: 190px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    margin-left: 75px;
}
.paras1 {

}
#paras1 {
    font-size: 15px;
    line-height: 14px;
    margin-left: 75px;
    margin-top: 30px;
}
/*  */
#bhead3 {
    margin-top: 20px;
    margin-left: 70px;
    color: #204099;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
 }
 #bpara3 {
    color: #204099;
    font-size: 18px;
    margin-left: 100px;
    margin-top: -15px;
 }
 #bhead4 {
    color: #204099;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    margin-left: 105px;
    margin-top: -10px;
 }
#bpara4 {
    color: #204099;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-left: 120px;
    margin-top: -10px;
}
.trial2 {

}
#trial2 {
    border: #204099;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    width: 190px;
    height: 60px;
    background-color: #204099;
    border-radius: 10px;
    margin-left: 75px;
}
.paras2 {

}
#paras2 {
    color: #204099;
    font-size: 15px;
    line-height: 14px;
    margin-left: 75px;
    margin-top: 30px;
}
/*  */
#bhead5 {
    margin-top: 20px;
    margin-left: 70px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
 }
 #bpara5 {
    color: blue;
    font-size: 18px;
    margin-left: 68px;
    margin-top: -15px;
 }
 #bhead6 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    margin-left: 90px;
    margin-top: -10px;
 }
#bpara6 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-left: 125px;
    margin-top: -10px;
}
.trial3 {

}
#trial3 {
    border: #204099;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #204099;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    width: 190px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    margin-left: 75px;
}
.paras3 {

}
#paras3 {
    color: white;
    font-size: 15px;
    line-height: 14px;
    margin-left: 75px;
    margin-top: 30px;
}

 
    

